body
{
background:pink;
}
.para
{
background:red;
color:white
}
h1
{
font-family: 'Indie Flower'; /*custom font from google font*/
color:green;


}
h2
{
text-decoration:underline;
color:purple;
}
ol
{
color:#9b79b8;
}
input:hover
{
border:5px solid black;
background:red;

}
input[type="text"]
{
background:green;
}
input:checked
{
margin-left:50px;
}
label
{
text-transform:uppercase;
}
#special:first-letter
{
color:green;
font-size:75px;
}
.para:first-letter
{
color:black;
font-size:50px;
}
h1:hover
{
color:red;
border:5px solid red;
}
a:visited
{
color:red;
}