div p
{
font-size:150%;
font-family:Arial;
}
div:nth-of-type(2) p
{
color:blue;
background:pink;
}
div:nth-of-type(3) p:nth-of-type(2)
{
border:3px  orange solid;
}
div:nth-of-type(1) em
{
color:orange;
font-size:25px;
background:green;
}