h1
{
font-family:Arial;
font-size:40px;
text-align:center;
color:black;
}
table
{
border-spacing:15px;
}
td
{
border:2px solid black;

}
#one
{
background:purple;
height:200px;
width:100px;
}
#two
{
background:#4B0082;
height:200px;
width:100px;
}
#three
{
background:blue;
height:200px;
width:100px;
}
#four
{
background:green;
height:200px;
width:100px;
}
#five
{
background:yellow;
height:200px;
width:100px;
}

#six
{
background:orange;
height:200px;
width:100px;
}
#seven
{
background:red;
height:200px;
width:100px;
}